
:root {
  --sidebar-width-closed: 40px;
  --sidebar-width-open: 400px;
  --sidebar-transition: all 0.2s ease-in;
  --sidebar-border: 1px solid var(--Neutral-20);
}

.side-panel {
  background: var(--Neutral-00);
  width: var(--sidebar-width-closed);
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: var(--sidebar-transition);
  border-right: var(--sidebar-border);
  color: var(--text);
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

  &.open {
    width: var(--sidebar-width-open);
  }

  .hidden {
    display: none !important;
  }
}
